
<h3>Admin Options</h3>
<ul>
	<li><%= link_to "Manage Admins", admins_path %> </li>
	<li><%= link_to "Manage Containers", lti_dockers_path %> </li>
	<li><%= link_to "View LTI User Session Log", lti_user_sessions_path %> </li>
	<li><%= link_to "View LTI Nonces", lti_nonces_path %> </li>
</ul>
