<div class="col" id="left">
	<div id="text-2" class="widget widget_text">			
		<div class="textwidget">
			<h3>About MOOC-LTI</h3>
		  <p>This is an LTI tool service which maps Coursera users to personal Jupyter containers.</p>
		</div>
	</div>                        
</div><!--! end of .col #left -->
